<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new book</title>
</head>
<body>
    <form method="post" action="/books">
        <h1>Add new book</h1>
        <input placeholder="Enter book name" name="name"><br>
        <input placeholder="Enter author name" name="author"><br>
        <input placeholder="Enter genre" name="genre"><br>
        <input type="submit" value="Save">
    </form>
    
</body>
</html>